
<div class="row align-items-center justify-content-center">
  <%= bootstrap_form_for(@owner, layout: :horizontal, control_col: "bootstrap_col") do |f| %>

    <div class="user-form-container">
    <%= f.text_field :first_name %>

    <%= f.text_field :last_name %>

    <%= f.text_field :username %>

    <%= f.text_field :address %>

    <%= f.text_field :telephone_number %>

    <%= f.text_field :email %>

    <%= f.text_field :img_url %>

    <%= f.password_field :password %>

    <%= f.password_field :password_confirmation %>

    <div class="actions"><%= f.submit :class => "button" %></div><br>

  </div>
  <% end %>
</div>
