<center><h1>Profile</h1>

<img src="<%= @owner.img_url %>" height="200">

<h2><%= "#{@owner.first_name} #{@owner.last_name}" %></h2>

<p>Username: <%= @owner.username %></p>

<h3>Contact:</h3>
<p>Address: <%= @owner.address %></p>
<p>Telephone number: <%= @owner.telephone_number %></p>
<p>Email: <%= @owner.email %></p>

<h3>My Pets:</h3>
<% @owner.pets.each do |pet| %>
<%= link_to pet.name, pet_path(pet) %>
<% end %>

<%= form_tag owners_path, method: 'get' do %>
<%= submit_tag 'Home' %>
<% end %>

<%= form_tag edit_owner_path, method: 'get' do %>
<%= submit_tag 'Edit my Profile' %>
<% end %>

<%= form_tag new_pet_path, method: 'get' do %>
<%= submit_tag 'Add a Pet' %>
<% end %>

<%= form_tag new_appointment_path, method: 'get' do %>
<%= submit_tag 'Create an Appointment' %>
<% end %>
</center>
