<center>
<div class="row h-100">
  <div class="col-sm-12 my-auto">
    <div class="card card-block w-25 mx-auto">
      <div style="background-color: #ffffff;
          background-repeat:repeat-x;
          border:1px solid #d1c7ac;
          min-width:20%;
          width:30%;
          min-height:20%;
          color:#333333;
          padding:3px;
          margin-top:5em;
          font-family:tahoma, arial, sans-serif;
          border-radius:15px;
          opacity:0.9;">
<h1>My Profile</h1>

<img src="<%= @owner.img_url %>" height="200">

<h2><%= "#{@owner.first_name} #{@owner.last_name}" %></h2>

<p>Username: <%= @owner.username %></p>

<h3>Contact:</h3>
<p>Address: <%= @owner.address %></p>
<p>Telephone number: <%= @owner.telephone_number %></p>
<p>Email: <%= @owner.email %></p>

</div>
</div>
</div>
</div>

</center>
