<center><h1>My Profile</h1>

<img src="<%= @owner.img_url %>" height="200">

<h2><%= "#{@owner.first_name} #{@owner.last_name}" %></h2>

<p>Username: <%= @owner.username %></p>

<h3>Contact:</h3>
<p>Address: <%= @owner.address %></p>
<p>Telephone number: <%= @owner.telephone_number %></p>
<p>Email: <%= @owner.email %></p>

<h3>My Pets:</h3>
<% @owner.pets.each do |pet| %>
<p><%= link_to pet.name, pet_path(pet) %></p>
<% end %>

<%= form_tag owners_path, method: 'get' do %>
<%= submit_tag 'Home' %><br>
<% end %>

<%= form_tag edit_owner_path, method: 'get' do %>
<%= submit_tag 'Edit my Profile' %><br>
<% end %>

<%= form_tag new_pet_path, method: 'get' do %>
<%= submit_tag 'Add a Pet' %><br>
<% end %>

<%= form_tag new_appointment_path, method: 'get' do %>
<%= submit_tag 'Create an Appointment' %><br>
<% end %>

<%= form_tag appointments_path, method: 'get' do %>
<%= submit_tag "My Appointments" %><br>
<% end %>

<%= form_tag owner_path(@owner), method: 'delete' do %>
<%= submit_tag "Delete Account", data: { confirm: "Are you sure?" } %><br>
<% end %>


</center>
