
<div class="row align-items-center justify-content-center">
<%= bootstrap_form_for(@pet, layout: :horizontal, control_col: "bootstrap_col") do |f| %>
  <div class="form-container">
    <% genders = ['Male', 'Female', 'Not Sure'] %>

    <%= f.text_field :name %>

    <%= f.text_field :species %>

    <%= f.text_field :age %>

    <%= f.text_field :img_url %>

    <%= f.collection_select(:gender, genders, :downcase, :to_s) %>

    <%= f.hidden_field(:owner_id, :value => session[:owner_id]) %>

    <div class="actions"><%= f.submit :class => "button" %></div>
  </div>
<% end %>
</div>
