<center>
<h1>Pet Profile</h1>

<img src="<%= @pet.img_url %>" height=200>

<h2><%= @pet.name %></h2>

<p>Species: <%= @pet.species %></p>
<p>Age: <%= @pet.age %></p>
<p>Gender: <%= @pet.gender %></p>
<p>Address: <%= @pet.owner.address %></p>

<%= form_tag owner_path(@pet.owner), method: 'get' do %>
<%= submit_tag 'Back to Owner' %>
<% end %>

<%= form_tag edit_pet_path, method: 'get' do %>
<%= submit_tag 'Edit Pet Details' %>
<% end %>

</center>
