<center><%= form_for @appointment do |f| %>

  <% @owner = Owner.find_by(id: session[:owner_id]) %>
  <% @pets = @owner.pets %>

  <p><%= f.label 'pet_id' %></p>
  <p><%= f.collection_select :pet_id, @pets, :id, :name %></p>

  <p><%= f.label 'sitter_id' %></p>
  <p><%= f.collection_select :sitter_id, Sitter.all, :id, :full_name %><br>
  <%= link_to('Not sure which sitter to choose?', { action: 'index', controller: 'sitters' }, { target: '_blank' }) %></p>

  <p><%= f.label 'start_date' %></p>
  <p><%= f.date_select :start_date %></p>

  <p><%= f.label 'end_date' %></p>
  <p><%= f.date_select :end_date %></p>

  <p><%= f.submit %></p>

<% end %>
