<center><h1>Appointment Details</h1>

<p>Pet: <%= @appointment.pet.name %></p>
<p>Start Date: <%= @appointment.start_date %></p>
<p>End Date: <%= @appointment.start_date  %></p>
<p>Sitter: <%= @appointment.sitter.full_name %></p>

<%= form_tag appointments_path, method: 'get' do %>
<%= submit_tag 'Back to all Appointments' %>
<% end %>

<%= form_tag edit_appointment_path, method: 'get' do %>
<%= submit_tag 'Edit Appointment' %>
<% end %>

</center>
