<center><h1>Appointment</h1>

<h2>Appointment:</h2>
<p>Pet: <%= @appointment.pet.name %></p>
<p>Start Date: <%= @appointment.start_date %></p>
<p>End Date: <%= @appointment.start_date  %></p>
<p>Sitter: <%= @appointment.sitter.full_name %></p>

<<<<<<< HEAD
<%= form_tag appoinments_path, method: 'get' do %>
<%= submit_tag 'Appointments' %>
=======
<%= form_tag owners_path, method: 'get' do %>
<%= submit_tag 'Home' %>
<% end %>

<%= form_tag owner_path(@appointment.pet.owner), method: 'get' do %>
<%= submit_tag 'Your Profile' %>
>>>>>>> 6e4b9b9a4920ce871e7f8b019e1fc31af5183188
<% end %>
</center>
