<center><h1>Appointment</h1>

<h3>Appointment:</h3>
<p>Pet: <%= @appointment.pet.name %></p>
<p>Start Date: <%= @appointment.start_date %></p>
<p>End Date: <%= @appointment.start_date  %></p>

<%= form_tag appoinments_path, method: 'get' do %>
<%= submit_tag 'Appointments' %>
<% end %>
</center>
